*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: repeat;
    background-size: 150px 150px;
}


.labe{
    align-items: center;
}

form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;      
}

.contenedor {
    margin-top: 10%;
    background-color: #75a1ff;
    padding: 20px;
    border: 1px solid #333;
    width: 500px;
}

.input{
    width: 100%;
}

/*boton*/

.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #45a049;
  }
  .my-button:active {
    background-color: #3e8e41;
  }